<% @tvshows.each do |tvshow| %>
  <h3><%= tvshow.title %></h3>
  <%= image_tag(tvshow.image) %>

  <br/>

  Tweets containing the following keywords will be removed from your timeline: 

  <br/> 

  <% tvshow.phrases.each do |phrase| %>
    <%= phrase.text %>
  <% end %>
<% end %>

<br/>




<br/> 

<%= link_to "Go to Timeline", twitter_timeline_path %> 

