<h1>Welcome to SafeTwitter</h1>
<p> View your timeline without any TV spoilers</p>

 <%= form_tag '/search', method: :get do %>
<%= text_field_tag 'q', nil, :placeholder => "Type TV Show Name" %>
<%= submit_tag("Select") %>
<% end %>